BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "rx_led" SITE "13" ;
LOCATE COMP "tx" SITE "14" ;
LOCATE COMP "rx" SITE "16" ;
LOCATE COMP "tx_led" SITE "17" ;
LOCATE COMP "load_led" SITE "20" ;
LOCATE COMP "sys_clk" SITE "21" ;
LOCATE COMP "take_led" SITE "23" ;
LOCATE COMP "empty_led" SITE "25" ;
LOCATE COMP "sys_rst" SITE "26" ;
